@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.rating {
  padding-top: 20px;
  display: flex;

  @media (max-width: $desktop-width - 1) {
    padding-top: 11px;
  }

  @media (max-width: $desktop-width - 1) {
    padding-top: 22px;
  }
}

.rating__stars-list {
  @include list;

  display:  flex;
  margin-right: 15px;
}

.rating__stars-item {
  margin-right: 5px;
}

.rating__note {
  @include reset-indent;
  @include font(400, 15px, 21px);

  color: $wine-red;
}
