.button {
  @include font(600, 14px, 19px);

  font-family: inherit;
  display: inline-block;
  padding: 16px 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;

  &--red {
    background-color: $wine-red;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: $wine-red-hover;
    }
  }

  &--white {
    background-color: $white;
    color: $wine-red;
    border: 1px solid $wine-red;

    &:hover,
    &:focus,
    &:active {
      background-color: $wine-red;
      color: $white;
    }
  }
}
