$content-width: 1480px;
$desktop-width: 1024px;
$mobile-width: 320px;
$tablet-width: 768px;

$black: #000000;
$contacts-dark: #1A212F;
$dark: #48494D;
$dark-transparent: rgba(72, 73, 77, 0.5);
$wine-red: #D12136;
$wine-red-hover: #BD0C21;
$red: #FF0000;
$stroke: #D7D9DF;
$text-transparent: rgba(0, 0, 0, 0.4);
$stroke-transparent: rgba(0, 0, 0, 0.2);
$strike: #A3A4A6;
$star: rgba(189, 190, 194, 0.7);
$background-grey: #F5F5F9;
$white: #FFFFFF;
$white-transparent: rgba(255, 255, 255, 0.3);
$overlay: rgba(88, 87, 87, 0.6);
