@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.review-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-width: 698px;
  min-height: 415px;
  padding: 35px;
  padding-top: 30px;
  background-color: $background-grey;

  @media (max-width: $tablet-width - 1) {
    min-width: min-content;
    margin-left: 35px;
    margin-right: 35px;
  }

  @media (max-width: $tablet-mobile-intermediate) {
    padding: 45px 16px 40px 16px;
  }
}

.review-form__header {
  @include reset-indent;
  @include font(600, 25px, 34px);

  align-self: center;
}

.review-form__wrapper {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding-top: 25px;
  margin-bottom: 17px;

  @media (max-width: $tablet-width - 1) {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15px;
    margin-bottom: 0;
  }
}

.review-form__label {
  @include reset-indent;
  @include font(400, 14px, 19px);

  color: $red;

  &--name {
    margin-bottom: 2px;
  }
}

.review-form__rating-label {
  @include reset-indent;
  @include font(600, 15px, 20px);

  color: $black;
}

.review-form__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px 30px 0;

  @media (max-width: $tablet-width - 1) {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 8px;
    margin-bottom: 32px;
  }
}

.review-form__right-wrapper {
  padding-top: 25px;
  display: flex;
  flex-direction: column-reverse;

  @media (max-width: $tablet-width - 1) {
    flex-direction: column;
    padding-top: 0;
  }
}

.review-form__input-wrapper {
  @include reset-indent;

  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 16px;
  }

  &--asterisk::before {
    @include pseudo(block, absolute, "*");
    @include font(bold, 17px, 20px);

    top: 10px;
    left: 10px;
    font-family: "ProximaNova", Arial, sans-serif;
    color: $wine-red;
  }

  &--name::before {
    top: 30px;
  }
}

.review-form__control {
  @include font(600, 14px, 19px);

  margin: 0;
  padding: 15px 25px;
  font-family: inherit;
  color: $black;
  background-color: $white;
  border: 1px solid $input-border;
  outline: none;

  &::placeholder {
    color: $dark;
  }

  &:focus {
    border: 1px solid $red;
  }

  &--input {
    width: 300px;
    height: 50px;

    @media (max-width: $tablet-mobile-intermediate) {
      width: 288px;
    }
  }

  &--textarea {
    width: 300px;
    height: 118px;
    resize: none;

    @media (max-width: $tablet-mobile-intermediate) {
      width: 288px;
    }
  }
}

.review-form__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;

  @media (max-width: $tablet-width - 1) {
    top: 8px;
    right: 12px;
  }

  &::before,
  &::after {
    @include pseudo;

    left: 5px;
    top: 14px;
    width: 20px;
    height: 2px;
    background-color: #9F9E9E;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid $strike;
  }

  &:hover::before,
  &:focus::before,
  &:active::before,
  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $dark;
  }
}
