@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.page-main {
  @include reset-indent;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  color: $dark;
  background-color: $white;
}

.page-main__wrapper {
  display: grid;
  grid-template-columns: 51% 45%;
  column-gap: 4%;
  padding-top: 74px;

  @media (max-width: $desktop-width - 1) {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }

  @media (max-width: $tablet-width - 1) {
    padding-top: 4px;
  }
}

.page-main__tabs {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
