@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.comment__header {
  @include reset-indent;
  @include font(600,15px,20px);

  padding-top: 13px;

  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.comment__text {
  @include reset-indent;
  @include font(400,15px,20px);

  padding-top: 2px;
  overflow-wrap: break-word;

  @media (max-width: $desktop-width - 1) {
    padding-top: 8px;
  }
}
