@import "../../sass/variables.scss";

.rating-input {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  &:focus,
  &:focus-within {
    outline: 1px solid $input-border;
  }
}

.rating-input__label {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  cursor: pointer;

  &:first-of-type {
    margin-right: 0;
  }

  &--checked path {
    fill: $wine-red;
    fill-opacity: 1;
   }
}

.rating-input__label:hover path,
.rating-input__label:hover ~.rating-input__label path,
.rating-input__input:checked ~.rating-input__label path {
  fill: $wine-red;
  fill-opacity: 1;
}
