@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.properties {
  @include list;
  padding-left: 20px;
  width: 75%;

  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.properties__name {
  @include reset-indent;
  @include font(600, 15px, 20px);

  position: relative;
  padding-top: 14px;

  &::before {
    @include pseudo(block, absolute, "+");
    @include font(600, 15px, 21px);

    left: -18px;
    color: $wine-red;
  }

  &--minus::before {
    content: "–"
  }
}

.properties__value{
  @include reset-indent;
  @include font(400, 15px, 20px);
  padding-top: 4px;
}
