@import "../../../public/sass/mixins.scss";

.card__name {
  @include reset-indent;
  @include font(700, 30px, 41px);

  margin-left: 8px;
  padding-bottom: 20px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px
}

.card__button {
  margin-left: 4px;
  margin-bottom: 16px;
}
