@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.tabs-features {
  width: 50%;
  min-width: 555px;
}

.tabs-features__list {
  @include list;

  margin: 30px 20px 0 0;
}

.tabs-features__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 6px;
  margin-bottom: 21px;
  border-bottom: 1px solid $stroke;
}

.tabs-features__feature {
  @include reset-indent;
  @include font(400, 16px, 22px);

  max-width: 49%;
}

.tabs-features__value {
  @include reset-indent;
  @include font(400, 16px, 22px);

  max-width: 49%;
  color: $black;
}
