@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.header {
  background-color: $background-grey;
}

.overlay {
   @media (max-width: $desktop-width - 1) {
      position: fixed;
      z-index: 30;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay;
    }
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: $background-grey;

  @media (max-width: $desktop-width - 1) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

  &--mobile {
    display: block;
  }
}

.header__logo {
  display: block;
  flex-shrink: 0;
  padding-left: 7px;

  &--mainPage {
    cursor: default;
  }

  @media (max-width: $desktop-width - 1) {
      padding-left: 0;
    }
}

.header__logo-img {
  display: block;
}

.header__menu {
  @media (max-width: $desktop-width - 1) {
    position: relative;

    &--hidden {
      display: none;
    }
  }
}

.header__button {
  position: absolute;
  z-index: 5;
  width: 33px;
  height: 33px;
  top: 19px;
  right: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.5;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--cross {
    &::before,
    &::after {
      @include pseudo;
      width: 38px;
      height: 2px;
      top: 16px;
      left: -2px;
      background-color: $dark;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--burger {
    &::before,
    &::after,
    span::after {
      @include pseudo;
      width: 29px;
      height: 2px;
      left: 2px;
      background-color: $dark;
    }

    &::before {
      top: 8px;
    }

    &::after {
      top: 16px;
    }

    span::after {
      top: 24px;
    }
  }
}
