@import "../../sass/variables.scss";

.header {
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: $background-grey;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: block;
  flex-shrink: 0;
  padding-left: 7px;

  &--mainPage {
    cursor: default;
  }
}

.header__logo-img {
  display: block;
}
