@import "../../../public/sass/mixins.scss";
@import "../../../public/sass/variables.scss";

.header-menu {
  @include list;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header-menu__item {
  margin: 0;
  margin-right: 58px;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.header-menu__link {
  display: block;
  padding: 15px 5px;
  color: $dark;

  &:hover,
  &:focus,
  &:active {
    color: $dark-transparent;
  }
}
