@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.review {
  min-width: 698px;
  min-height: 415px;
  background-color: $background-grey;
  padding: 35px;
  padding-top: 30px;
}

.review__header {
  @include reset-indent;
  @include font(600, 25px, 34px);

  text-align: center;
}
