@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.pictures {
  @include list;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.pictures__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.pictures__img-small {
  display: block;
  background-color: $dark;

  &--active {
    outline: 1px solid $strike;
    outline-offset: 2px;
  }
}
