@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.pictures {
  @include list;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  @media (max-width: $desktop-width - 1) {
    margin-left: 31px;
    margin-right: 31px;
  }
}

.pictures__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.pictures__img-small {
  display: block;
  object-fit: cover;
  background-color: $dark;

  &--active {
    outline: 1px solid $strike;
    outline-offset: 2px;
  }
}
