@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.contacts {
  display: grid;
  grid-template-columns: 35% 55%;
  column-gap: 10%;
  width: 66%;
  padding-top: 25px;
  margin-bottom: 85px;

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: 45% 50%;
    column-gap: 5%;
    width: 585px;
    margin-bottom: 10px;
  }

  @media (max-width: $tablet-width - 1) {
    padding-top: 20px;
  }

  @media (max-width: $tablet-mobile-intermediate) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.contacts__list {
  @include list;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 11px;
  }

  a {
    &:hover,
    &:active {
      color: $dark;
    }
  }
}

.contacts__item {
  @media (max-width: $tablet-mobile-intermediate) {
    &--mobile-hidden {
      display: none;
    }
  }
}

.contacts__name {
  @include reset-indent;
  @include font(700, 16px, 22px);

  color: $contacts-dark;
}

.contacts__value {
  @include reset-indent;
  @include font(600, 14px, 19px);

  display: block;
  padding-top: 10px;
  margin-bottom: 23px;
  color: $black;
  white-space: pre-wrap;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 18px;
  }

  @media (max-width: $desktop-width - 1) {
    padding-top: 4px;
    margin-bottom: 10px;
  }
}
