@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.slider {
  position: relative;
}

.slider__img-big {
  margin-top: 16px;
  object-fit: cover;
  background-color: $dark-transparent;

  @media (max-width: $desktop-width - 1) {
    min-width: 288px;
    width: 100%;
  }
}

.slider__mark {
  @include font(600, 10px, 14px);

  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 16px;
  width: 122px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $white;
  background-color: $wine-red;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;
}
